@import '../../../../theme/mixins';

:host {
  .content_page {
    background: var(--colors-blanco);
    padding: 40px 0 60px;

    .container {
      width: 90%;
      margin: 0 auto;
      height: 100%;
      max-height: calc(100% - 40px);
      padding-top: 20px;

      &-title {
        @include title;
        width: 100%;
        margin: 40px auto 0 auto;
        &:nth-of-type(2) {
          width: 70%;
          margin: 0 auto 20px auto;
        }
      }
      &-text {
        margin: 40px 0;
        font: 1rem var(--fonts-weight-regular);
        color: var(--colors-gris-oscuro);
        text-align: center;
      }

      .cnt_button {
        margin: 30px 0 60px;

        &-back {
          @include btn-general;

          background: var(--colors-azul-oscuro);
          margin: 20px 0 0;
        }
      }

      &-icon {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 32px auto;
        font-size: 3rem;
        background: var(--colors-rojo-habitat);
        color: var(--colors-blanco);
      }
    }
  }
}
