.escaladegrises{
    filter: grayscale(100%);
}
.titulo{
    font-size: 1.125rem !important; 
    text-align: center !important;
    padding-top: .5rem !important;
    letter-spacing: -0.43 !important;
}