<section class="modal_informativo">
    <article class="modal_cnt">
        <ion-icon class="icon_close icon-cerrar" (click)="cerrarModal()"></ion-icon>
        <ion-card class="modal">
            <ion-card-header class="header">
                <ion-row>
                    <ion-col size="12">
                        <h3 class="body-title">
                            Afiliados a AFP Habitat Vigentes
                        </h3>
                    </ion-col>
                </ion-row>
            </ion-card-header>
            <ion-card-content class="body">

                <section>
                    <ion-grid class="no_padding">
                        <ion-row class="fila_oscura">
                            <ion-col size="12" class="fila_blanca padding_col">
                                <h3 class="body-title texto_claro">
                                    Fecha de envíos de Cartola Cuatrimestral
                                </h3>
                            </ion-col>
                        </ion-row>
                        <ion-row class="fila_blanca">
                            <ion-col size="12" class="padding_col">
                                <p class="texto_celdas">
                                    Entre el 15 y 28 de Febrero.
                                </p>
                            </ion-col>
                        </ion-row>
                        <ion-row class="fila_clara">
                            <ion-col size="12" class="padding_col">
                                <p class="texto_celdas">
                                    Entre el 15 y 30 de Junio.
                                </p>
                            </ion-col>
                        </ion-row>
                        <ion-row class="fila_blanca">
                            <ion-col size="12" class="padding_col">
                                <p class="texto_celdas">
                                    Entre el 15 y 31 de Octubre.
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </section>

                <section>
                    <ion-grid class="no_padding">
                        <ion-row>
                            <ion-col size="12">
                                <div class="titulo_intermedio">
                                    <p class="body-title">
                                        Afiliados traspasados desde otras administradoras a AFP Habitat
                                        <span class="texto_celdas">(1)</span>
                                    </p>
                                </div>

                            </ion-col>
                        </ion-row>
                        <ion-row class="fila_oscura">
                            <ion-col size="4" class="texto_claro padding_col">
                                <p class="texto_celdas">
                                    Mes de Traspaso
                                </p>
                            </ion-col>
                            <ion-col size="4" class="texto_claro padding_col">
                                <p class="texto_celdas">
                                    Envío de Cartola de Cierre de AFP Antigua (2)

                                </p>
                            </ion-col>
                            <ion-col size="4" class="texto_claro padding_col">
                                <p class="texto_celdas">
                                   Envío de Primera Cartola de AFP Habitat
                                </p>
                            </ion-col>
                        </ion-row>

                        <ion-row class="fila_blanca">
                            <ion-col size="4" class="padding_col">
                                <p class="texto_celdas">
                                    Agosto a Noviembre
                                </p>
                            </ion-col>
                            <ion-col size="4" class="padding_col">
                                <p class="texto_celdas">
                                    Septiembre a Diciembre

                                </p>
                            </ion-col>
                            <ion-col size="4" class="padding_col">
                                <p class="texto_celdas">
                                    Entre el 15 y 28 de Febrero
                                </p>
                            </ion-col>
                        </ion-row>

                        <ion-row class="fila_clara">
                            <ion-col size="4" class="padding_col">
                                <p class="texto_celdas">
                                    Diciembre a Marzo
                                </p>
                            </ion-col>
                            <ion-col size="4" class="padding_col">
                                <p class="texto_celdas">
                                    Enero a Abril
                                </p>
                            </ion-col>
                            <ion-col size="4" class="padding_col">
                                <p class="texto_celdas">
                                    Entre el 15 y 28 de Febrero
                                </p>
                            </ion-col>
                        </ion-row>

                        <ion-row class="fila_blanca">
                            <ion-col size="4" class="padding_col">
                                <p class="texto_celdas">
                                    Abril a Julio
                                </p>
                            </ion-col>
                            <ion-col size="4" class="padding_col">
                                <p class="texto_celdas">
                                    Mayo a Agosto
                                </p>
                            </ion-col>
                            <ion-col size="4"class="padding_col">
                                <p class="texto_celdas">
                                    Entre el 15 y 31 de Octubre
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </section>

                <section>
                    <ion-grid>
                        <ion-row class="row_informativos">
                            <p class="texto_celdas alineacion_izquierda">
                                1- El pago del traspaso se realiza el mes siguiente a la suscripción de la Orden de Traspaso.
                            </p>
                            <p class="texto_celdas alineacion_izquierda">
                                2- La cartola de cierre se envía 10 días hábiles después del pago, esto es, durante el mes siguiente a la suscripción de la Orden de Traspaso.
                            </p>
                            <p class="texto_celdas alineacion_izquierda">
                                3- Si la cuenta no registra pago de cotizaciones, la cartola se enviará una vez al año, en el despacho correspondiente a Febrero.
                            </p>
                        </ion-row>

                    </ion-grid>
                </section>

            </ion-card-content>
        </ion-card>
    </article>
</section>