<ion-header class="header_app">
    <ion-toolbar class="navbar">
      @if (showBackButton) {
        <ion-buttons
                    slot="start"
                    [class.nav-titulo]="titulo"
                    class="nav-button button-left"
                    (click)="backButton()">
            <ion-icon class="btn-icon icon-back" name="icon-menu-hamb"></ion-icon>
        </ion-buttons>
      } @else {
        <ion-buttons slot="start" class="nav-button button-left" ></ion-buttons>
      }

      @if (titulo) {
        <h1 (click)="backButton()">{{titulo}}</h1>
      } @else {
        <figure class="logo">
            <img alt="" class="logo-img" src="./assets/imgs/nuevo_logo_header.png">
        </figure>
      }

      @if (!titulo || showMenuHamb) {
        <ion-buttons slot="primary" class="nav-button button-right" (click)="toggleMenu()">
            <ion-icon class="btn-icon icon-menu-hamb" name="icon-menu-hamb"></ion-icon>
        </ion-buttons>
      }
    </ion-toolbar>
</ion-header>
