@import "../../../../theme/mixins";

.success {
  display: block;
  width: 90%;
  padding-top: 40px;
  margin: 0 auto;

  height: 70%;

  .success_cnt {
    padding-bottom: 1.5rem;
    &-header {
      &::after {
        display: none;
      }

      .cnt_icon {
        background: var(--colors-verde);
        border-radius: 50%;
        font-size: 3.125rem;
        color: var(--colors-blanco);
        width: 4.8rem;
        height: 4.8rem;
        margin: 0 auto;
        margin-bottom: 1.2rem !important;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
    }

    &-title {
      @include title();
      width: 85%;
      text-align: center;
      margin: 1rem auto;
    }

    &-text {
      font: 1rem var(--fonts-weight-regular);
      width: 100%;
      text-align: center;
      margin: 0 0 24px;
      color: var(--colors-gris-oscuro);

      &:last-of-type {
        margin: 0;
      }

      .bold {
        font: 1rem var(--fonts-weight-medium);
        text-transform: lowercase;
      }
    }
  }

  //succes_cnt
  .cnt_btn {
    margin: 2rem auto 2.5rem auto;

    &-button {
      @include btn-general();
      margin: 0;

      &:first-of-type {
        margin: 0 0 15px;
      }

      &:nth-of-type(2) {
        color: var(--colors-azul-oscuro);
        background-color: var(--colors-blanco);
        border: 1px solid var(--colors-azul-oscuro);
      }
    }
  }
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3.5rem;
  border-radius: 50px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: var(--fonts-weight-medium);
  color: var(--colors-blanco);

  &-descarga {
    background:var(--colors-rojo-habitat);
    margin-bottom: 1rem;
  }
  &-home {
    background: var(--colors-blanco);
    color: var(--colors-celeste);
    border: 2px solid var(--colors-celeste);
  }
}
