<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165329050145-i7qdcc1rqidb0rm5cvcunkssskcn6fop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165329050145-i7qdcc1rqidb0rm5cvcunkssskcn6fop</string>
	<key>API_KEY</key>
	<string>AIzaSyDHsrrLCYTZCA2cILAVC-Q7p-EX3JxnQnM</string>
	<key>GCM_SENDER_ID</key>
	<string>165329050145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.p8414JG</string>
	<key>PROJECT_ID</key>
	<string>apphabitat-notificacionespush</string>
	<key>STORAGE_BUCKET</key>
	<string>apphabitat-notificacionespush.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165329050145:ios:1ddf5bac6741fc1a</string>
	<key>DATABASE_URL</key>
	<string>https://apphabitat-notificacionespush.firebaseio.com</string>
</dict>
</plist>