<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320930713148-atc4kog2gvp8aph5r84rs0thh9mq6181.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320930713148-atc4kog2gvp8aph5r84rs0thh9mq6181</string>
	<key>API_KEY</key>
	<string>AIzaSyB23rU9UCAFT1uEQAENN0lV6I7C8HEQEUo</string>
	<key>GCM_SENDER_ID</key>
	<string>320930713148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.p8414JG.qa</string>
	<key>PROJECT_ID</key>
	<string>apphabitat-qa-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>apphabitat-qa-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320930713148:ios:afa21d9b6e293135effd39</string>
	<key>DATABASE_URL</key>
	<string>https://apphabitat-qa-2019.firebaseio.com</string>
</dict>
</plist>