@import "../../../../theme/mixins";

.rojo-habitat {
  color: var(--colors-rojo-habitat);
}

.modal_prudential {
  @include modal_gral();
  .modal_cnt {
    border-radius: 15px;
    max-width: 500px;
    background: var(--colors-celeste-link);
    .icon_close {
      position: absolute;
      top: 9px;
      left: 88%;
      z-index: 10;
      padding: 0.625rem;
      font-size: 0.875rem;
      color: var(--colors-celeste-link);
    }
    .modal {
      padding: 1.75rem;
      border-radius: 15px;
      border-left: 5px solid;
      border-color: var(--colors-celeste-link);

      .header {
        margin: 30px auto 20px auto;
        text-align: center;
        font: 1.8rem var(--fonts-weight-bold);
        color: var(--colors-azul-perfil);
      }

      .body {
        &-text {
          font: 1.3rem var(--fonts-weight-medium);
          margin-bottom: 2rem;
        }
        &-text-small {
          font: 1rem var(--fonts-weight-medium);
          margin-bottom: 2rem;
        }
        &-titulo {
          font: 1.6rem var(--fonts-weight-bold);
          margin-bottom: 2rem;
        }
        &-btn {
          width: auto;
          padding: 12px 24px;
          border-radius: 50px;
          background-color: var(--colors-blanco);
          border: 1px solid;
          border-color: var(--colors-celeste-link);
          color: var(--color-celeste-button);
        }

        .botonera-prudential {
          margin-bottom: 2rem;
          button {
            width: 80%;
            margin: 0 auto;
          }
          .body-btn.btn-autorizar {
            border-color: var(--colors-rojo-habitat);
            background-color: var(--colors-rojo-habitat);
            color: var(--colors-blanco);
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
