<section class="modal-exito-desusc">
    <article class="modal_cnt">
        <ion-icon class="icon-cerrar icon_close" (click)="onCerrarModal()"></ion-icon>
        <ion-card class="modal">
            <ion-card-header class="header">
                Solicitud procesada con &eacute;xito
            </ion-card-header>
            <ion-card-content class="body">
                <p class="body-text">
                    Se ha solicitado la desuscripci&oacute;n de la consolidaci&oacute;n de tus saldos
                    <br>
                </p>
                <p class="body-text">
                    Te hemos enviado un email con la confirmaci&oacute;n de la desuscripci&oacute;n.
                </p>
                <div class="botonera-prudential">
                    <button class="body-btn btn-cancelar" (click)="onCerrarModal()">Volver</button>
                </div>
            </ion-card-content>
        </ion-card>
    </article>
</section>
